<!DOCTYPE html>
<html lang="en">
<head>
	<title>CutyeStickers</title>
	<meta charset = "utf-8">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">    
	<link rel="stylesheet" href="/style/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<!--contact info and basket-->
<div class = "contact-basket-container">
	<p class="mail-container">
		<a class="mail" href = "mailto:cutyestickers@gmail.com">cutyestickers@gmail.com</a>
	</p>
	<i class="bi-basket">
		<img src="/icons/basket.svg" alt="Basket Icon" class="basket-icon">
	</i>

</div>

<!--header-->
<div class = "header">
	<div class = "logo">
		<a href = "/" class="logo-link">
			<img class="logo-img" src="/images/logo.jpg" alt="logo">
			<p>CutyeStickers</p>
		</a>
	</div>
	<ul id="nav" class="nav">
		<li><a href = "/" class="tapped-nav-link">Home</a></li>
		<li><a href = "/#products" class="nav-link">Products</a></li>
		<li><a href = "/#about" class="nav-link">About</a></li>
		<li><a href = "/#contacts" class="nav-link">Contacts</a></li>
	</ul>
</div>

<!--introduction-->
<div class = "introduction-section" id="home">
	<div class = "heading-text">
		<h1 class="h1">
			<strong>Handmade Digital Stickers</strong>
		    <span style="font-weight: normal;"> Shop for</span>
		    <span style="text-decoration: underline; text-decoration-color: #DCC1FF; font-weight: normal;">Every</span>
		    <span style="font-weight: normal;"> Occasion!</span></h1>
		<p class="undertext">Discover unique, handcrafted digital stickers designed to brighten your day and add personality to everything you love. From planners to gifts, our stickers make every moment special.</p>
<!-- (+) buttons-->
	<div class = "introduction-buttons">
		<button id="see-products" class="button-see-products"><a class = "nav-link-button" href = "/#products">See Products
			<i class="bi-arrow-up-right"></i>
				<img src="/icons/arrow-up-right.svg" alt="Arrow Up Right Icon" class="bi-arrow-up-right">
			</a></button>
		<a href = "https://cutyestickers.etsy.com" class="link-etsy-shop" target ="_blank">Visit Etsy Shop</a>
	</div>
</div>
<img src ="/images/elipse_introduction_right.svg" alt="elipse-decoration" class="elipse-1">
<img src ="/images/elipse_introduction_left.svg" alt="elipse-decoration" class="elipse-2">
<img src="/images/pink_logo.jpg" alt="logo-pink" class="introduction-image">
</div>

<!--Products Section-->
<div class="products-section" id="products">
<div class="heading2-text">
	<h2 class="h2">Products</h2>
	<p class="products-undertext">Perfect for planners, personal use and gifts!</p>
	<img src ="/images/elipse_products.svg" alt="elipse-decoration" class="elipse-3">
</div>
<div class="products-line-1">
	<div class="product-container">
		<div class="product-card">
			<img src="/images/potato_set.webp" alt="potato-set" class="product-img">
			<div class="product-info-container">
				<div class="card-introduction">
					<div class="title-container">
						<p class="card-title">Potato Christmas Set</p>
						<p class="card-text">7 PNG Files</p>
					</div>
					<div class="price-container">
						<p class="card-price">0,99€</p>
					</div>
				</div>
				<div class="card-buttons">
					<button id="add-to-card" class="button-add-to-card"><a class = "nav-link-button" href = "/">Add To Card</a></button>
					<button id="see-more" class="button-see-more"><a class = "nav-link-see-more-button" href = "/product">See More</a></button>
				</div>
			</div>
		</div>
	</div>

	<div class="product-container">
		<div class="product-card">
			<img src="/images/coffee_set.jpg" alt="coffee-set" class="product-img">
			<div class="product-info-container">
				<div class="card-introduction">
					<div class="title-container">
						<p class="card-title">Coffee Set</p>
						<p class="card-text">12 PNG Files</p>
					</div>
					<div class="price-container">
						<p class="card-price">0,99€</p>
					</div>
				</div>
				<div class="card-buttons">
					<button id="add-to-card" class="button-add-to-card"><a class = "nav-link-button" href = "/">Add To Card</a></button>
					<button id="see-more" class="button-see-more"><a class = "nav-link-see-more-button" href = "/product">See More</a></button>
				</div>
			</div>
		</div>
	</div>
	<div class="product-container">
		<div class="product-card">
			<img src="/images/octopus.avif" alt="octopus" class="product-img">
			<div class="product-info-container">
				<div class="card-introduction">
					<div class="title-container">
						<p class="card-title">Octopus</p>
						<p class="card-text">1 PNG File</p>
					</div>
					<div class="price-container">
						<p class="card-price">0,20€</p>
					</div>
				</div>
				<div class="card-buttons">
					<button id="add-to-card" class="button-add-to-card"><a class = "nav-link-button" href = "/">Add To Card</a></button>
					<button id="see-more" class="button-see-more"><a class = "nav-link-see-more-button" href = "/product">See More</a></button>
				</div>
			</div>
		</div>
	</div>
	<div class="product-container">
		<div class="product-card">
			<img src="/images/selfcare.jpg" alt="selfcare-set" class="product-img">
			<div class="product-info-container">
				<div class="card-introduction">
					<div class="title-container">
						<p class="card-title">Self Care Set</p>
						<p class="card-text">20 PNG Files</p>
					</div>
					<div class="price-container">
						<p class="card-price">2,99€</p>
					</div>
				</div>
				<div class="card-buttons">
					<button id="add-to-card" class="button-add-to-card"><a class = "nav-link-button" href = "/">Add To Card</a></button>
					<button id="see-more" class="button-see-more"><a class = "nav-link-see-more-button" href = "/product">See More</a></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="products-line-2">
	<p style="text-align:center;" class="undertext">There would be more products...</p>
</div>
</div>

<!--About Section-->
<div class="about-section" id="about">
	<div class="heading2-text">
		<h2 class="h2">About</h2>
	</div>
	<div class="about-container">
		<div class="paragraphs-container">
			<p style="font-weight: 300;" class="about-text">
				Hi there! I'm Diana, a 22-year-old creative soul passionate about design and all things cute. Welcome to my digital sticker shop!
			</p>
			<p style="font-weight: 200;" class="about-text">
				I started this journey to share my love for art and creativity with people like you who enjoy adding a personal, playful touch to their lives. Each sticker in my collection is thoughtfully designed to bring a little bit of joy and inspiration to your day.
			</p>
			<p style= "color:#8B8B8B;" class="about-text">
				Whether you're looking to decorate your planner, style your laptop, or make a gift extra special, my stickers are here to help you express yourself in unique and fun ways. Thank you for supporting my small business and being a part of my creative journey! 
			</p>
			<p style="font-weight: 300;" class="about-text">
				ps. i made this website from scratch. Hope you are enjoying it!
			</p>
		</div>
		<div class="image-container">
			<img src ="/images/elipse_about.svg" alt="elipse-decoration" class="elipse-4">
			<img src = "/images/me.jpg" alt = "me" class="image-of-me">
			<img src ="/images/line_about.svg" alt="elipse-decoration" class="line-1">
		</div>
	</div> 
</div>

<!--Footer-->
<div class="footer" id="contacts">
	<div class = "logo">
		<a href = "/" class="logo-link">
			<img class="logo-img" src="/images/logo.jpg" alt="logo">
			<p>CutyeStickers</p>
		</a>
	</div>
	<div class="contact-section">
		<div class="contact-container">
			<p class="heading-info">Contact Me!</p>
			<div class="time-mail-container">
				<p style="font-size: 22px; color:#8B8B8B">
					E-S 12:00 AM - 20:00 PM (Estonian Time, UTC+2)
				</p>
				<div class="mail-footer">
					<a href="mailto:cutyestickers@gmail.com" style="font-size: 22px; color: black; text-decoration: none;" class="mail-text-footer">
						<img src ="/images/mail.svg" alt="mail-icon" class="mail-icon">cutyestickers@gmail.com
					</a>
				</div>
			</div>
		</div>
		<div class="social-media-container">
			<p class="heading-info">Social Media</p>
			<div class="social-media-links">
				<a href="https://www.instagram.com/cutyestickers/?igsh=MWJqOXVvcXdiNWVkNA%3D%3D" target ="_blank">
					<img src="/images/instagram.svg" alt ="instagram" class="social-media-icon">
				</a>
				<a href="https://www.tiktok.com/@cutyestickers?lang=en&is_from_webapp=1&sender_device=mobile&sender_web_id=7441492660857013793" target ="_blank">
					<img src="/images/tiktok.svg" alt ="tiktok" class="social-media-icon">
				</a>
				<a href="https://www.etsy.com/shop/cutyestickers/?etsrc=sdt" target ="_blank">
					<img src="/images/etsy.svg" alt ="etsy" class="social-media-icon">
				</a>
			</div>
		</div>
		<div class="information-container">
			<p class="heading-info">Information</p>
				<ul class="info-links">
					<li><a href="/" class="info-links">Home</a></li>
					<li><a href="/#products" class="info-links">Products</a></li>
					<li><a href="/#about" class="info-links">About</a></li>
					<li><a href="/#contacts" class="info-links">Contacts</a></li>
				</ul>
		</div>
		<div class="information-container">
			<p class="heading-info">Helpful Links</p>
			<ul class="info-links">
				<li><a href="/privacy_policy" class="info-2-links">Privacy Policy</a></li>
				<li><a href="/terms_and_cookies" class="info-2-links">Terms & Cookies</a></li>
			</ul>
		</div>
	</div>
	<div class="copyright">
		<p>Copyright ©2025 CutyeStickers. All rights reserved.</p>
	</div>
</div>


</body>
</html>
