<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	<meta charset = "utf-8">
	<link rel="icon" href="/images/logo.jpg" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
<!--contact info and basket-->
<!--pages and basket-->
<div class = "pages-basket-container">
	<p class="pages-container">
		<a class="page-1" href = "/home">Home/</a>
		<a class="page-2" href = "/product">Product</a>
	</p>
	<i class="bi-basket">
		<img src="/icons/basket.svg" alt="Basket Icon" class="basket-icon">
	</i>

</div>
<div class="product">
</div>

</body>
</html>